<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Speed Type Test</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .mainText {
            width: 680px;
            height: 225px;
            overflow: hidden;
            float: left;
            margin-right: 45px;
            font-size: 21px;
            line-height: 32px;

            background-color: pink;
            padding: 10px;
            border-radius: 5px;
        }

        .blackW {
            color: #000;
        }

        .passedW {
            color: #5bc538;
        }

        .greenW {
            background-color: #5bc538;
            padding: 3px;
            border-radius: 3px;
            color: #fff;
        }

        .redW {
            background-color: #fc0000;
            padding: 3px;
            border-radius: 3px;
            color: #fff;
        }
        
    </style>
</head>
<body>
    
    <div id="app">
        <v-container>
            <v-row>
                <v-col>
                    <div class="mainText">
                        <span 
                        v-for="(item, index) in message"
                        v-bind:class="[index == greenNow ? 'greenW' : '', greenNow > index ? 'passedW' : '', index > greenNow ? 'blackW' : '']"
                        >{{item}}</span>
                    </div>
                </v-col>

                <v-col>
                    <div class="stat">
                            <v-card 
                            v-for="(value, name) in stats"
                            outlined
                            shaped
                            class="mx-auto"
                            max-width="300"
                            >
                                
                                <v-card-title>
                                    <v-icon
                                        color
                                        dense
                                        medium
                                    >
                                        {{name == 'WPM' ? 'fas fa-tachometer-alt' : 
                                            name == 'Timer' ? 'far fa-clock' : 
                                            name == 'Accuracy' ? 'fas fa-percentage' : ''}}
                                    </v-icon>
                                    {{  
                                        name == 'WPM' ? 'Скорость' : 
                                        name == 'Timer' ? 'Время' : 
                                        name == 'Accuracy' ? 'Точность' : '' 
                                    }}
                                    :
                                    {{value}}
                                </v-card-title>
                            </v-card>
                    </div>
                </v-col>  
            </v-row>
        </v-container>
    </div>

<script src="https://kit.fontawesome.com/4ee5f380c2.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, officia harum veritatis quo libero explicabo nesciunt voluptatibus, sapiente consequatur fuga tempore minima nemo laboriosam itaque nulla sequi, asperiores ex! Sequi!',
            greenNow: 0,
            misses: 0,
            stats: {
                WPM : 0,
                Timer : 0,
                Accuracy: 100
            }
        },
        methods: {
            test: () => {
            },
            start(){
                interval_timer = setInterval( () => {
                    this.stats.Timer ++;
                    this.stats.WPM = Math.round(this.greenNow / (this.stats.Timer / 60));
                }, 1000)
                
            },
            stop() {
                console.log('Стоп')
                clearInterval(interval_timer);
            },
            keyPressed (key) {
                let greenNowSymbol = document.querySelector('.greenW');
                let keyPressedNow = key.key;
                if (keyPressedNow == 'Shift' || keyPressedNow == 'Backspace') {
                    return
                } else if (greenNowSymbol.textContent == keyPressedNow) {
                    if (this.greenNow == 0) {
                        this.start();
                    }
                    greenNowSymbol.classList.add('wpased')
                    this.greenNow++
                    if (this.greenNow == (this.message.length) ) {
                        this.stop();
                        return console.log('конец')
                    }
                } else if (greenNowSymbol.textContent != keyPressedNow) {
                    if (!greenNowSymbol.classList.contains('redW')) {
                        this.misses++;

                        this.stats.Accuracy <= 0 ? 
                        this.stats.Accuracy = 0 : 
                        this.stats.Accuracy = (this.stats.Accuracy - this.message.length/100).toFixed(1);

                        greenNowSymbol.classList.add('redW')
                    }
                }
            }
        },
        created: function () {
            window.addEventListener('keydown', this.keyPressed)
        },
        beforeDestroy: function () {
            window.removeEventListener('keydown', this.keyPressed)
        },
    })
</script>
</body>
</html>